
*{
    color: #09172c;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
    
header{
    padding : 10px;
    font-size : 20px;
    nav{
        display : flex;
        gap : 30px;
        justify-content : space-around;
        li{
            padding-top : 10px; list-style : none;
            a{text-decoration : none;color : black;}
        }
        img{width : auto;height : 50px;}
    }
}

.curriculum_nav{
    margin: 50px;
    ul{
        display: flex;
        justify-content: center;
        gap: 100px;
        li{
            width: 100px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border: #132b4c solid 2px;
            &:hover{
                background-color: #09172c;
                a{color: white;}
            }
        }
        .nowPage{
            background-color: #132b4c;
            a{color: white;}
        }
    }
}

.main-banner {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1{font-size: 2.5rem; margin-bottom: 1rem; color: white;}
    p{font-size: 1.2rem; opacity: 0.9; color: white;}
}

main{
    /* background-color: blue; */
    h1{
        height: 50px;
        line-height: 50px;
        font-size: 25px;
        text-align: center;
        border-top: #132b4c solid 2px;
        border-bottom: #132b4c solid 2px;
    }

    section{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        padding: 20px;
        article{
            width: 200px;
            height: 300px;
            background-color: #132b4c;
    
            
            div{height: 150px;}
            .subject_img{
                img{
                    display: block;
                    width: 100px;
                    height: 120px;
                    margin: 20px auto;
                    border-radius: 50%;
                    background-color: white;
                    
                }
            }
            .subject_info{
                color: white;
                text-align: center;
                font-size: 30px;
                p{color: white;}
                span{font-size: 15px; color: white;}
            }
        }
    }

}